body {
  font-size: 12px;
  /* height: 100vh;
  width: 100vw; */
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: rgb(110, 125, 170, 0.3);
}
/* main {
  position: sticky;
} */

header {
  position: sticky;
  top: 0;
}

.h-100-vh {
  height: 100vh;
}

.w-100vw {
  width: 100vw;
}

.bg-grey {
  background-color: #334968;
}

.bg-blue {
  background-color: #3372b0;
}

.bg-todo-blue {
  background-color: #002745;
}
.bg-button-grey {
  background-color: rgb(224, 221, 221);
}
.bg-notstarted-red {
  background-color: rgb(194, 84, 25);
}
.bg-inprogress-yellow {
  background-color: rgb(72, 125, 142);
}
.bg-completed-green {
  background-color: rgb(107, 125, 54);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}

.text-white {
  color: white;
}
.text-yellow {
  color: yellow;
}
.text-black {
  color: black;
}

h1 {
  font-size: 1em;
  margin: 0;
}

.pl-1-rem {
  padding-left: 1rem;
}
/* 
.transparent {
  background-color: transparent;
} */

i.material-icons {
  font-size: 40px;
}
.font-size-1-rem {
  font-size: 1rem;
}

.font-size-1-5-em {
  font-size: 1.5em;
}

.font-size-2-em {
  font-size: 2em;
}
/* .flex-grow-2 {
  flex: 2 2;
} */
.flex-grow-1 {
  flex-grow: 1;
}

.pd-2-rem {
  padding: 2rem;
}
.pd-1-rem {
  padding: 1rem;
}

.pd-0-5-rem {
  padding: 0.5rem;
}
.border {
  border: 2px solid;
  border-radius: 10px;
  overflow: hidden;
}
.mr-2-rem {
  margin: 2rem;
}
.mr-1-rem {
  margin: 1rem;
}

.mr-rt-2-rem {
  margin-right: 2rem;
}

.mr-lt-2-rem {
  margin-left: 2rem;
}
.mr-lt-1-rem {
  margin-left: 1rem;
}

.mr-top {
  margin-top: 2rem;
}
.mr-rt-auto {
  margin-right: auto;
}

#Progress_Status {
  background-color: #ddd;
}
.lineThrough {
  text-decoration: line-through;
  color: red;
}
#myprogressBar {
  width: 0%;
  height: 35px;
  background-color: #003e30;
  text-align: center;
  line-height: 32px;
  color: black;
  padding: 0rem;
  margin: 0rem;
}
button:hover {
  background-color: rgb(185, 178, 178);
}
.hidden_gif {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: rgb(209, 202, 202);
  cursor: pointer;
  padding: 0.5rem 4rem;
}

ul li:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

ul li:hover {
  background-color: rgb(185, 178, 178);
}

.dt-date-font-size-2-em {
  font-size: 2em;
}
.mb-date-font-size-1-em {
  font-size: 1em;
}
.mobile-only {
  display: none;
}

.large-tablet-only {
  display: none;
}

.desktop-only {
  display: none;
}
/* MOBILE-ONLY */
@media only screen and (max-width: 376px) {
  .mobile-only {
    display: block;
  }
  i.material-icons {
    font-size: 20px;
  }
  div div p {
    font-size: 10px;
  }
  .mb-flex-grow-1 {
    flex-grow: 1;
  }
  .mb-date-font-size-1-em {
    font-size: 1em;
  }
  .padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mb-mr-rt-1-rem {
    margin-right: 0rem;
  }
}

/* LARGE-TABLET-ONLY */
@media only screen and (min-width: 377px) and (max-width: 1024px) {
  .large-tablet-only {
    display: block;
  }
  .flex-grow-2 {
    flex-grow: 2;
  }
  .dt-date-font-size-2-em {
    font-size: 2em;
  }
  .dt-mr-rt-2-rem {
    margin-right: 2rem;
  }
}

/* DESKTOP-ONLY */
@media only screen and (min-width: 1025px) {
  .desktop-only {
    display: block;
  }
  .flex-grow-2 {
    flex-grow: 2;
  }
  .dt-date-font-size-2-em {
    font-size: 2em;
  }
  .dt-mr-rt-2-rem {
    margin-right: 2rem;
  }
}
